node-red/earthquakeflow.json
[{"id":"d92b915b.d06fc","type":"watson-text-to-speech","z":"a64a6152.54c58","name":"","lang":"en-US","langhidden":"en-US","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"2AmNM6fjh1RY","x":498.5078125,"y":432.5234375,"wires":[["3540d872.50b118"]]},{"id":"4abe4032.1b7fa","type":"inject","z":"a64a6152.54c58","name":"","topic":"","payload":"Hello my name is James","payloadType":"string","repeat":"","crontab":"","once":false,"x":170.59872436523438,"y":449.2507019042969,"wires":[["d92b915b.d06fc"]]},{"id":"fa769331.984f","type":"websocket out","z":"a64a6152.54c58","name":"","server":"4bb18c7d.664ab4","client":"","x":979.5986938476562,"y":520.2507019042969,"wires":[]},{"id":"82ea064d.399418","type":"http in","z":"a64a6152.54c58","name":"","url":"/audiotest","method":"get","swaggerDoc":"","x":261.32598876953125,"y":513.8870697021484,"wires":[["c7995915.591db8"]]},{"id":"c4337f84.98ccb","type":"http response","z":"a64a6152.54c58","name":"","x":673.8714771270752,"y":522.1597862243652,"wires":[]},{"id":"c7995915.591db8","type":"template","z":"a64a6152.54c58","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audiotest\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":468.32598876953125,"y":520.8870697021484,"wires":[["c4337f84.98ccb"]]},{"id":"3540d872.50b118","type":"function","z":"a64a6152.54c58","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":781.3259887695312,"y":419.0688781738281,"wires":[["fa769331.984f"]]},{"id":"42d687e5.a53b48","type":"ibmiot in","z":"a64a6152.54c58","authentication":"apiKey","apiKey":"4ccd5123.0373e","inputType":"evt","deviceId":"4711","applicationId":"","deviceType":"smart","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":85.2578125,"y":117.171875,"wires":[["5bca2bac.90b344"]]},{"id":"5bca2bac.90b344","type":"function","z":"a64a6152.54c58","name":"Earthquake?","func":"msg.earthquake = 0;\n//if(msg.topic === 'iot-2/type/TISensortag/id/acbc327d39af/evt/accelerometer/fmt/json')\n{\n    \n    var x = parseFloat(msg.payload.d.ax);\n    var y = parseFloat(msg.payload.d.ay);\n    var z = parseFloat(msg.payload.d.az);\n    x = Math.abs(x);\n    y = Math.abs(y);\n    z = Math.abs(z);\n    if(x > 1.1 || y > 1.1 || z > 1.1)\n    {\n        msg.earthquake = 1;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":294.2421875,"y":97.203125,"wires":[["c66f8b0d.45d0b8"]]},{"id":"dee5f220.7a9e5","type":"delay","z":"a64a6152.54c58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":235.2421875,"y":268.1484375,"wires":[["100c5df3.55b422","1d87ec38.7da4a4"]]},{"id":"c66f8b0d.45d0b8","type":"switch","z":"a64a6152.54c58","name":"check","property":"earthquake","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":484.2421875,"y":134.0234375,"wires":[["dee5f220.7a9e5"]]},{"id":"1d87ec38.7da4a4","type":"debug","z":"a64a6152.54c58","name":"","active":true,"console":"false","complete":"false","x":622.2578125,"y":268.125,"wires":[]},{"id":"100c5df3.55b422","type":"function","z":"a64a6152.54c58","name":"","func":"msg.payload = 'Warning Earthquake detected';\nreturn msg;","outputs":1,"noerr":0,"x":299.2421875,"y":360.7109375,"wires":[["1d87ec38.7da4a4","d92b915b.d06fc"]]},{"id":"4bb18c7d.664ab4","type":"websocket-listener","z":"","path":"/ws/audiotest","wholemsg":"false"},{"id":"4ccd5123.0373e","type":"ibmiot","z":"","name":"Raspi Demo Key","keepalive":"60","cleansession":true,"appId":"","shared":false}]
